/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .nav-item a {
        font-size: 18px;
        margin-right: 10px;
    }
    .slider-content h2 {
        font-size: 35px;
    }
    .features-area .card-title {
        font-size: 35px;
    }
    .features-area .feature-info h4 {
        font-size: 25px;
    }
    .mx-200 {
        margin: 0 100px;
    }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .slider-area .carousel-inner {
        padding-bottom: 50px;
    }
    .slider-content{
        text-align: center;
    }
    .slider-content h2 {
        font-size: 35px;
    }
    .section-title {
        padding: 50px 100px 20px 100px;
    }
    .section-title h2 {
        font-size: 35px;
    }
    .mx-200 {
        margin: 0 50px;
    }
    .navbar-nav {
        padding-top: 25px;
        text-align: center;
    }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .slider-content{
        text-align: center;
    }
    .slider-content h2 {
        font-size: 30px;
    }
    .section-title {
        padding: 50px 0px 20px 0px;
    }
    .section-title h2 {
        font-size: 25px;
    }
    .mx-200 {
        margin: 0px;
    }
    h2, .features-area .card-title {
        font-size: 25px;
    }
    .features-area .feature-info h4 {
        font-size: 30px;
    }
    .my-100 {
        margin: 50px 0;
    }
    .course-content h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .cta-text h2 {
        font-size: 30px;
    }
    .cta-inner {
        padding: 50px 20px;
    }
    .nav-btn {
        display: none;
    }
    .navbar-nav {
        padding-top: 25px;
        text-align: center;
    }
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {



}