/* font here  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* default css  */
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(20, 17, 17);
}

.theme-bg {
    background: #000248;
}
.theme-bg-light {
    background: #eeecec;
}
.edu-btn-primary {
    background: #000248;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    transition: 0.3s;
    font-weight: 600;
}
.edu-btn-primary:hover, 
.btn.edu-btn-primary:active,
.edu-btn-primary:focus
 {
    background: #fff;
    border: 1px solid #000248;
    color: #000248;
}
.pt-100{
    padding-top: 100px;
}
.pt-50{
    padding-top: 50px;
}
.my-100{
    margin: 100px 0;
}
.mx-200{
    margin: 0 200px;
}
.py-50{
    padding: 50px 0;
}
.section-title {
    padding: 50px 20%;
}
.section-title h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #000248;
}
.section-title p {
    font-size: 16px;
    color: #3c3c3c;
    font-weight: 500;
}
/* nav section  */
.nav-item a {
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
    position: relative;
    padding-bottom: 0;
}
header .nav-item a::after {
    content: '';
    width: 0;
    height: 1px;
    bottom: -2px;
    position: absolute;
    left: auto;
    right: 0;
    /* z-index: -1; */
    -webkit-transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
    transition: width .6s cubic-bezier(.25, .8, .25, 1) 0s;
    background: #000248;
}
header .nav-item a:hover::after {
    width: 100%;
    left: 0;
    right: auto;
    margin: 0;
}
/* slider area  */

.slider-area .carousel-control-next, 
.slider-area .carousel-control-prev {
    top: 50%;
    width: 40px;
    height: 40px;
    opacity: 1;
}
.slider-content h2 {
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
}
.slider-content p {
    color: #fff;
    line-height: 1.3;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 300;
}
.slide-img img {
    position:absolute;
    bottom:0;
    width:400px
}

/* animation style  */
img.bg-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: shape 20s linear infinite;
}
img.bg-2 {
    position: absolute;
    top: 5%;
    right: 20%;
    animation: shape 20s linear infinite;
}
img.bg-3 {
    position: absolute;
    bottom: 40%;
    right: 5%;
    animation: shape 20s linear infinite;
}
img.bg-4 {
    position: absolute;
    top: 10%;
    right: 50%;
    animation: shape 20s linear infinite;
}
@keyframes shape{
    0%{
        transform:translate(0) rotate(0deg);
    }
    90%{
        transform:translate(90px) rotate(360deg);
        opacity: 0;
    }
}
/* course area  */
.course-content h4 {
    font-size: 25px;
    font-weight: 600;
    color: #000248;
}
.course-content span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
    color: #000248;
}
/* features area  */
.features-area img {
    width: 100%;
}
.features-area .card-title {
    font-size: 45px;
    font-weight: 600;
    color: #000248;
    line-height: 1.3;
    margin-bottom: 20px;
}
.features-area .feature-info h4 {
    font-size: 45px;
    font-weight: 600;
    color: #000248;
    line-height: 1.3;
    margin-bottom: 20px;
}
/* cta area  */
.cta-text h2 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}
.cta-text p {
    color: #fff;
    line-height: 1.5;
}
/* modal css  */
.login-form {
    padding: 30px 20px;
    border-radius: 10px;
    background: #eeecec;
    box-shadow: 13px 13px 20px #ffffff, 
                -13px -13px 20px #ffffff;
}
.form-head img {
    width: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 8px 8px 8px rgb(245, 243, 243),
                -8px -8px 8px rgb(250, 250, 250);
}
.form-head h2 {
    font-size: 25px;
    color: #000248;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px 0;
}
.form-head span {
    font-size: 14px;
    margin-bottom: 50px;
    display: block;
}
form input, form textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 50px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    color: #000248;
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #ffffff;
    font-family: arial, FontAwesome;
    font-weight: normal;
}
form textarea {
    height: 150px;
}
input[type="button"] {
    text-align: center;
    width: 100%;
    box-shadow: 5px 5px 10px #fff,
                -5px -5px 10px #fff;
    height: 50px;
    border: 1px solid #000248;
    transition: 0.5s;
}
input[type="button"]:hover {
    box-shadow:  5px 5px 20px #ffffff, 
                 -5px -5px 20px #ffffff;
    background: #000248;
    color: #fff;
}
.links a {
    font-size: 18px;
    color: #000248;
    margin-top: 20px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}
/* feedback area  */
.feedback-area .carousel-control-next, 
.feedback-area .carousel-control-prev {
    top: 50%;
    width: 40px;
    height: 40px;
    opacity: 1;
    background: #000248;
}
.review-quote i {
    font-size: 60px;
    color: #D2D2D2;
}
.rating-stars i {
    color: #F59E0B;
}
/* company area  */
.client-logo {
    padding: 50px 0;
    text-align: center;
    border-top: 1px solid #dcd1d1;
    border-bottom: 1px solid #dcd1d1;
    margin-bottom: 100px;
}
.client-logo a {
    padding-left: 45px;
    opacity: 0.5;
    transition: 0.3s;
}
.client-logo a:hover {
    opacity: 1;
}
.client-logo a:first-child {
    padding-left: 0;
}
/* footer */
footer {
    color: #fff;
    text-align: center;
    padding: 50px 0;
}
footer h3 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 600;
    font-style: italic;
}
.footer-nav ul {
    list-style: none;
}
.footer-nav ul li {
    display: inline-block;
    margin-right: 10px;
}
.footer-nav ul li a {
    color: #918484;
    font-size: 18px;
    transition: 0.3s;
}
.footer-nav ul li a:hover {
    color: #fff;
}
footer p {
    margin: 20px 0;
}
.social-icons i {
    font-size: 20px;
    color: #ffffff;
    transition: 0.3s;
    margin-right: 10px;
}
.social-icons i:hover {
    color: #dbd;
}

/* contact page css */
section.header-top-title {
    padding: 100px 0;
    margin-top: 110px;
}
.breadcrumb-item {
    font-size: 18px;
    color: #fff;
}
.breadcrumb-item a {
    font-size: 18px;
    color: #fff;
}
.our-location {
    position: relative;
    padding-bottom: 88%; /* 16:9 */
    height: 0;
}
.our-location iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}